In [1]:
import pandas as pd

In [3]:
chat = pd.read_csv('/Users/Rich/Desktop/save.csv')

In [4]:
chat.head()

   Unnamed: 0  second  game
0           0       0     0
1           1      60     0
2           2     120     0
3           3     180     0
4           4     240     0

In [39]:
df = pd.DataFrame(chat['game'].value_counts())
idx = df.loc[df['game'] <= 2].index.tolist()

In [42]:
df = pd.DataFrame(chat['game'].value_counts())
idx = df.loc[df['game'] <= 2].index.tolist()
chat.loc[chat.index.isin(idx), 'game'] = 0

In [56]:
status = chat
counts = pd.DataFrame(status['game'].value_counts())
idx = counts.loc[counts['game'] <= 3].index.tolist()
status.loc[status['game'].isin(idx), 'game'] = 0
status.head(20)

    Unnamed: 0  second  game
0            0       0     0
1            1      60     0
2            2     120     0
3            3     180     0
4            4     240     0
5            5     300     0
6            6     360     0
7            7     420     0
8            8     480     0
9            9     540     0
10          10     600     0
11          11     660     0
12          12     720     0
13          13     780     0
14          14     840     0
15          15     900     0
16          16     960     0
17          17    1020     0
18          18    1080     0
19          19    1140     0