In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/Rich/Documents/Twitch/aggregated/83196893.csv')

In [4]:
df.head()

   Unnamed: 0  second  red  green  game
0           0       0  0.0    0.0     0
1           1      30  0.0    0.0     0
2           2      60  0.0    0.0     0
3           3      90  0.0    0.0     0
4           4     120  0.0    0.0     0

In [5]:
df['game'].value_counts()

0     556
13    109
28     99
31     97
8      96
19     78
22     48
5       3
16      1
12      1
Name: game, dtype: int64